/* Set page background color */
body {
  background-color: beige;
  margin: 0;
  padding: 0;
}

/* Style for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 0;
}

/* Style for logo image */
header img {
  width: 250px;
  height: 250px;
}

/* Style for navigation bar */
nav {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 50px;
    background-color: beige;
    transition: background-color 0.3s ease-in-out;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 15px 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #ff9800;
  color: #fff;
}

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
  }
  p {
    line-height: 1.5em; /* adjust as needed */
    text-align: center;
    justify-content:space-evenly ;
    font-size: 1.2em; /* adjust as needed */
    max-height: 9em; /* set to desired number of lines */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .text, .image-container {
    width: 100%;
    max-width: 400px;
  }
  
  .text {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .image-container {
    text-align: center;
    justify-content:center;

  }
  
  .image-container {
    max-width: 100%;
    height: auto;
  }
  
    /* Style for footer */
    footer {
        background-color: transparent;
        padding: 20px 0;
        text-align: center;
      }
      
      footer p {
        margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        color: black;
        font-family: 'Roboto', sans-serif;
      }
      
